p {
     font-family: Roboto Slab, "Helvetica Neue"; !important;
    line-height:200%;
 }

#banner {
    font-family: Roboto Slab, "Helvetica Neue"; !important;
    color:lightgrey;
    text-align:center;
    font-size:30pt;

}

.adsbygoogle {
    display: block; !important
    margin: 0 auto;
}